<h2>
  <%= link_to post.title, post_path(post) %>
</h2>
<p class="lead">
  by <%= post.user.name %>
</p>
<p>Posted on <%= l(post.created_at, :format => :long) %></p>
<p>Post rating: <span class="badge"><%= post.average_score %></span></p>
<p>Post comments count: <span class="badge"><%= post.comments.count %></span></p>
<br>
<p><%= truncate(post.body, :length => 200) %></p>
<% if post.user == current_user %>
  <%= link_to(t('app.forms.edit'), edit_post_path(post), :class => "btn btn-primary") %>
<% else %>
  <%= link_to(t('app.user.posts.view_more'), post_path(post), :class => "btn btn-primary") %>
<% end %>
<hr>
