<div class="col-md-8">
  <h1 class="page-header">
    <%= @post.title %>
  </h1>
  <p class="lead">
    by <%= @post.user.name %>
  </p>
  <p>Posted on <%= l(@post.created_at, :format => :long) %></p>
  <p>Post rating: <span class="badge" id="postRating"><%= @post.average_score %></span></p>
  <p>Post comments count: <span class="badge" id="postCommentsCount"><%= @post.comments.count %></span></p>
  <hr>
  <p><%= raw @post.body %></p>
  <hr>
  <div id="comment-form">
    <% unless current_user.is_creator_of @post %>
      <%= render :partial => "shared/comment_form" %>
    <% end %>
  </div>
  <div id="comments">
    <%= link_to_remote t('app.comments.show'), :url => comments_post_path(@post), :method => :get %>
  </div>
</div>
