<!doctype html>
<html lang="en">
  <head>
    <%= render 'layouts/partials/head' %>
  </head>
  <body>
    <%= render 'layouts/partials/navigation' %>
    <div class="container">
      <div class="row">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
      <footer>
        <%= render 'layouts/partials/footer' %>
      </footer>
    </div>
    <%= javascript_include_tag("jquery-2.2.0", "bootstrap") %>
    <%= javascript_include_tag :defaults %>
  </body>
</html>
